canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
.btn{
  width: 480px;
  text-align: center;
  margin-top: 40px;
}
button{
  border-radius: 10px;
  border: 1px solid red;
  color: #f1f1f1;
  background: red;
  padding: 5px 15px;
}
